* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", sans-serif;
    background-color: #121212;
    color: #ffffff;
    scroll-behavior: smooth;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1e1e1e;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

nav {
    display: flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 15px;
    transition: color 0.3s;
}

nav a img {
    height: 25px;
}

.button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #6200ee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.button:hover {
    transform: scale(1.1);
    background-color: #3700b3;
}

footer {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

/* * Main Card CSS * */

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 350px;
    height: 450px;
    background-color: #121212;
    border-radius: 18px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px #12121202; */
    box-shadow: 0 5px 10px #6200ee80;
    transition: 1s;
}

.image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.card:hover {
    transition: 1s;
    box-shadow: 0 10px 15px #5bee00bb;
}

.card:hover .image img {
    transform: scale(1.25);
}

.card:hover .details {
    bottom: 0;
}

.details
{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
}

/* * End Main Card CSS * */
